body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.vai {
    color: black;
}

.aluno {
    color: white;
}

.s {
    color: red;
}

.c {
    color: white;
}

.tarjeta-verde {
    background-color: #4CAF50; /* green */
    color: white;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    font-size: 0; /* Remove spacing between inline elements */
}

.vai, .aluno, .s, .c {
    font-size: 25px; /* Reset font size for spans */
    display: inline-block;
    font-weight: bold; /* Make text bold */
}

.tarjeta-icon {
    position: absolute;
    top: 50%;
    left: 200px; /* Adjusted left for better alignment */
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}

.pdf-link {
    margin: 200px;
}

.external-link {
    margin: 200px;
}
